                        FACTORS OF A NUMBER



10 ?="NUMBER?  ";
20 N=?
30 X=N
40 $=22
50 ?=N
60 ?=" IS ";
70 #=N/2*0+%=0*140
80 D=3
90 Q=N/D
100 #=%=0*160
110 #=D>Q*300
120 D=D+2
130 #=90
140 ?="EVEN."
150 #=10
160 ?=""
170 ?=D
180 N=Q
190 Q=N/D
200 #=%=0*220
210 #=120
220 ?="^";
230 P=1
240 N=Q
250 Q=N/D
260 P=P+1
270 #=%=0*240
280 ?=P
290 #=120
300 #=N=1*340
310 #=N=X*390
320 ?=""
330 ?=N
340 ?=""
350 ?=""
360 ?="DONE"
370 ?=""
380 #=10
390 ?="PRIME."
400 ?=""
410 #=340

                        DON'T LOSE YOUR AT!
                                BY
                            ED VERNER
                ADAPTED TO VTL-2 BY GARY SHANNON
                  (A GAME SIMILAR TO "BAGLES")
 
    THE OBJECT OF THE GAME IS TO GUESS THE SECRET NUMBER PICKED BY THE
COMPUTER.  THE NUMBER HAS THREE DIGITS, NO ZEROES, AND NO DIGIT IS
REPEATED.  AFTER YOU TYPE YOUR GUESS, THE COMPUTER WILL PRINT AN "IT"
FOR EVERY CORRECT DIGIT IN THE WRONG POSITION, AND AN "AT" FOR EVERY
CORRECT DIGIT IN THE RIGHT POSITION.  YOU WIN WHEN YOU GET 3 "AT'S",
    EACH TIME THAT YOU GUESS INCORRECTLY, YOU LOSE 5% OF THE POINTS YOU
HAVE LEFT.
 
 
10 T=0                          310 #=C=X*S
20 L=0                          320 #=C=Y*S
30 ?="DON'T LOSE YOUR 'AT'"     330 K=0
40 X='/9*0+%+1                  340 S=620
50 Y='/9*0+%+1                  350 #=A=X*S
60 #=X=Y*40                     360 #=B=Y*S
70 Z='/9*0+%+1                  370 #=C=Z*S
80 #=X=Z*40                     380 #=K<3*580
90 #=Y=Z*40                     390 ?=""
100 ?="I'VE GOT A NUMBER."      400 ?="YOU WIN ";
105 L=L+1                       410 ?=P/100
110 P=10000                     420 ?=".";
120 ?=""                        430 ?=%/10
130 ?="YOU HAVE ";              440 ?=%
140 ?=P/100                     450 ?=" POINTS FOR A TOTAL OF ";
150 ?=".";                      460 T=T+P
160 ?=%/10                      490 ?=T/100
170 ?=%                         500 ?=".";
180 ?=" POINTS LEFT"            510 ?=%/10
190 ?=""                        520 ?=%
200 ?="WHAT'S YOUR GUESS? -- "; 540 ?=" POINTS IN ";
210 G=?                         550 ?=L
220 A=G/100                     560 ?=" GAMES."
230 B=%/10                      570 #=30
240 C=%                         580 P=P/20*19
260 S=600                       590 #=120
270 #=A=Y*S                     600 ?="IT ";
280 #=A=Z*S                     610 #=!
290 #=B=X*S                     620 ?="AT ";
300 #=B=Z*S                     630 K=K+1
                                640 #=!

******************************  HAVE FUN!  ****************************

                                CRAPS!
 
 
10 T=100                        310 A=$
20 $=22                         320 #=500
30 ?="CRAPS!"                   330 #=R=7*390
40 ?=""                         340 #=R=P*360
50 ?="HOW MUCH DO YOU BET? - "; 350 #=300
60 B=?                          360 ?="YOU WIN"
70 #=B=0*90                     370 T=T+B
80 ?="GOOD LUCK!"               380 #=120
90 #=B=0*480                    390 T=T-B
100 #=T>B*160                   400 ?="YOU LOSE"
110 ?="TOO MUCH!"               410 #=T=0*430
120 ?="YOU HAVE $";             420 #=120
130 ?=T                         430 ?="YOU ARE BUSTED!"
140 ?=" LEFT."                  440 ?="MOVE OVER AND LET THE NEXT"
150 #=40                        450 ?="SUCKER TRY."
160 ?=""                        460 ?=""
170 ?="ROLL-";                  470 #=10
180 A=?                         480 ?="BE SERIOUS"
190 $=22                        490 #=40
200 ?="FIRST ROLL: ";           500 R='/6*0+%+1
210 #=500                       510 ?=R
220 #=R=7*360                   520 X=X+11213
230 #=R=11*360                  530 ?=" AND ";
240 #=R<4*390                   540 S='/6*0+%+1
250 #=R=12*390                  550 X=X*56001
260 ?=""                        560 ?=S
270 ?=R                         570 ?="  (";
280 ?=" IS YOUR POINT"          580 R=R+S
290 P=R                         590 ?=R
300 ?="ROLL-";                  600 ?=")"
                                610 #=!

                                CIPHER GAME



10 I=0                          260 :I)=:T)
20 I=I+1                        270 I=I+1
30 :I)=I+64                     280 #=:I)>14*240
40 #=I<26*20                    290 ?=""
50 I=1                          300 ?="CODE:"
60 ?=""                         310 ?=""
70 M='/26*0+%+1                 320 I=27
80 H=:M)                        330 $=:I)
90 :M)=:I)                      340 #=:I)=13*370
100 :I)=H                       350 I=I+1
110 I=I+1                       360 #=330
120 #=I<27*70                   370 ?=""
130 ?="TEXT?"                   380 ?="SWITCH? - ";
140 ?=""                        390 A=$
150 I=27                        400 B=$
160 :I)=$                       410 #=B=64*370
170 #=:I)=13*220                420 I=27
180 #=:I)=95=0*200              430 #=:I)=A*490
190 I=I-2                       440 #=:I)=B=0*460
200 I=I+1                       450 :I)=A
210 #=160                       460 I=I+1
220 ?=""                        470 #=:I)=13*290
230 I=27                        480 #=430
240 #=:I)<64*270                490 :I)=B
250 T=:I)-64                    500 #=460

                                PHRASE SORT




10 $=22
20 I=0
30 I=I+1
40 :I)=$
50 L=:I)=95*2
60 I=I-L
70 #=:I)>14*30
80 ?=""
90 I=1
100 K=I
110 J=K
120 #=:K)=32*160
130 #=:J)=32*150
140 #=:K)>:J)*160
150 J=K
160 K=K+1
170 #=:K)>14*120
180 H=:I)
190 :I)=:J)
200 :J)=H
210 I=I+1
220 #=:I)>14*100
230 I=0
240 I=I+1
250 $=:I)
260 #=:I)>14*240
270 ?=""
